@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "InstrumentSans";
  src: url("../asset/InstrumentSans[wdth\,wght].ttf");
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: "InstrumentSans";
  font-size: calc(100vw / 8);
  white-space: nowrap;
  color: rgb(15, 15, 27);
}

@layer base {
  h1,
  h2,
  h3 {
    font-family: "InstrumentSans";
  }

  h2 {
    font-size: 28px;
    font-weight: 600;
  }

  h3,
  .h3 {
    font-size: 18px;
  }

  @media screen and (min-width: 900px) {
    h2 {
      font-size: 36px;
      font-weight: 600;
    }

    h3,
    .h3 {
      font-size: 24px;
    }
  }
}

p {
  font-family: "InstrumentSans";
  text-align: center;
  color: rgb(15, 15, 27);
}

.tween {
  font-variation-settings: "wdth" 75;
}

.empty {
  height: 300vh;
}

.banner-text {
  font-family: "InstrumentSans";
}

.jobs-titles-grid span,
.jobs-titles-grid a {
  font-family: "InstrumentSans";
  font-size: calc(100vw / 5 / 2);
}

svg path {
  pointer-events: none;
}

* {
  cursor: none;
}

.custom-cursor {
  transition: transform 0.4s, opacity 0.4s;
}
.custom-cursor.grow {
  transform: scale(2);
  opacity: 0.7;
}

.orient-rl {
  writing-mode: vertical-lr;
}

.web-dev-grid img {
  max-height: 200px;
}
.web-dev-grid.horizontal a {
  min-width: fit-content;
}
.web-dev-grid.horizontal img {
  max-height: 100%;
  height: 200px;
}

#svg-line {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  margin: 0;
  display: block;
}

#curve {
  stroke: red;
  fill: none;
}

@media screen and (min-width: 600px) {
  .jobs-titles-grid span,
  .jobs-titles-grid a {
    font-size: calc(100vw / 6 / 2);
  }
}
@media screen and (min-width: 900px) {
  .jobs-titles-grid span,
  .jobs-titles-grid a {
    font-size: calc(100vw / 10 / 2);
  }
}

.webgl-container .webgl {
  position: fixed;
  top: 42px;
  left: 0;
  outline: none;
}
